.application{
	color: #4f4f4f;
	// background-color: #f5f5f5;
	.application_title{
		font-size: 48px;
		font-family: @Bold;
		color: #43575d;
		margin-top: 12%;
		h1{
			margin-top: 0;
		}
	}
	.application_function{
		margin-left: 20px;	
		font-size: 18px;
		line-height: 26px;
		list-style: disc;
		&>li{
			list-style: disc;
			ul{
				margin-left: 20px;
				li{
					list-style: circle;
				}
			}
		}
	}
	.application_info{
		margin-bottom: 50px;
	}
	.application_button a{
		height: 60px;
		display: inline-block;
	}
	@media only screen and (max-width : 767px){
		&{
			.application_info{
				h4, .application_function{
					font-size: 14px;
				}
			}
			.application_button{
				text-align: center;
			}
		}
	}
}