.fixed_menu{
	height: 85px;
	line-height: 84px;
	background-color: rgba(39,50,61, .6);
	border-radius: 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2; 
	transition: background-color 0.3s;
	.container_wrap{
		padding: 0 10%;
	}
	.navbar_logo{
		float: left;
	}
	.navbar-toggle{
		padding: 0;
		height: 30px;
		width: 30px;
		margin: 14px 0;
		border: 1px solid #fff;
		text-align: center;
		line-height: 28px;
		color: #fff;
	}
	.navbar-collapse{
		border-top-color: #fff;
		padding: 0;
		margin-right: -15px;
		margin-left: -15px;
	}
	.menu{
		float: right;
		font-size: 0;
		li{
			display: inline-block;
			a{
				color: #fff;
				padding: 0 10px;
				display: inline-block;
				font-size: 16px;
				font-weight: 400;
				font-family: @Roboto;
				&:hover{
					color: @base_color;
					background-color: rgba(0,0,0, 0.4);
				}
				&.active{
					color: @base_color;
					// background-color: rgba(0,0,0, 0.4);
				}
			}		
		}
	}
	@media only screen and (max-width : 767px){
		&{
			background-color: rgb(39, 50, 61);
			height: 60px;
			line-height: 60px;
			.menu{
				padding: 0 20px;
				float: none;
				background-color: rgb(39, 50, 61);
				li{
					display: block;
					line-height: 45px;
					border-bottom: 1px solid #eee;
					a{
						display: block;
					}
					&:last-child{
						border-bottom: 0;
					}
				}
			}
		}
	}
}



.services{
	&:nth-child(even){
		background-color: #f5f5f5;
	}
	border-bottom: 2px solid #e2e2e2;
	.wrap_title{
		text-align: left;
	}
}